/.idea/dataSources

node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/material_theme_project_new.xml
/.idea/vcs.xml
/.idea/prettier.xml
/.idea/workspace.xml
